<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Free CRM Application Automation Test suit">
 <listeners>
  <listener  
  class-name="com.cr.qa.ExtentReport_Listner.ExtentReportListner"/>

  </listeners>
  <test thread-count="5" name="CRM test cases">
    <classes>
      <class name="com.crm.qa.testcase.LoginPageTest"/>
      <class name="com.crm.qa.testcase.HomePageTest"/>
      <class name="com.crm.qa.testcase.ContactPageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
